<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css' />
        <link href="css/pure-min.css" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />
        <link href="css/baby-blue.css" rel="stylesheet" />

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="pure-skin-wsi">

        <div class="pure-g-r" id="layout">
            
            <a href="#menu" id="menuLink" class="pure-menu-link">
                <span></span>
            </a>

            <div class="pure-u" id="menu">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading" href="/docs">Purple API</a>
                    <ul>
                        <!-- use class for active: pure-menu-selected -->
                        <li class="">
                            <a href="#availability-check">Availability Check</a>
                        </li>
                        <li class="">
                            <a href="#request-order">Request Order</a>
                        </li>
                        <li class="">
                            <a href="#get-orders">Get Orders</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pure-u-1" id="main">

                <div class="header">
                    <h1>Purple API Docs</h1>
                    <h2></h2>
                    <p>
                        
                    </p>
                </div>

                <div class="content">

                    <h2 class="content-subhead">
                        <a name="availability-check" />
                        Availability Check
                    </h2>
                    <p>
                        To find out the availabile options for delivery to a certain location. Requires an active user session.
                    </p>

                    <pre class="snippet" data-language="html"><code>[GET] https://api.purpleapp.com/v1/availability</code></pre>

                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Header</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="required">
                                <td>Authorization</td>
                                <td>(Basic Auth) Use your API Key as the username, and a User Auth Token as the password.</td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Description</th>
                                <th>Values</th>
                                <th>Default</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="required">
                                <td>lat</td>
                                <td>Latitude of desired delivery location</td>
                                <td>A number (e.g., -118.27367287)</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>lng</td>
                                <td>Longitude of desired delivery location</td>
                                <td>A number (e.g., 34.053892)</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>vehicle_id</td>
                                <td>ID of vehicle</td>
                                <td>A string</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-legend-right">
                        Keys in red are <span class="required">required</span>.
                    </div>
                    
                    <p>
                        Example GET request and JSON response: <a href="javascript:(function(){var el=document.getElementById('example-availability-check'); el.style.display = (el.style.display === 'block' ? 'none' : 'block');})();">(show/hide)</a>
                    </p>
                    
                    <div id="example-availability-check" style="display: none;">
                        <pre class="snippet" data-language="smalltalk"><code>curl --request GET 'https://api.purpleapp.com/v1/availability?lat=34.031464&lng=-118.491809&vehicle_id=4clhMV0ewUMDB7O4460R' -u 123APIKEY:456USERAUTHKEY</code></pre>
                        JSON Response:
                        <pre class="snippet" data-language="json"><code>{
   "success":true,
   "availability":{
      "time_choices":[
         {
            "fee":599,
            "text":"within 1 hour ($5.99)",
            "time":60
         },
         {
            "fee":0,
            "text":"within 3 hours (3 left)",
            "time":180
         }
      ],
      "gallon_choices":[
         7.5,
         10,
         15
      ],
      "octane":"91",
      "gas_price":339,
      "tire_pressure_fillup_price":700
   }
}</code></pre>
                    </div>

                    <br />
                    <h2 class="content-subhead">
                        <a name="request-order" />
                        Request Order
                    </h2>
                    <p>
                        To make an order request given certain parameters. Usually this endpoint is used after an Availability Check so that a user has been presented with the options available at their location.
                    </p>

                    <pre class="snippet" data-language="html"><code>[POST] https://api.purpleapp.com/v1/orders/request</code></pre>

                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Header</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="required">
                                <td>Authorization</td>
                                <td>(Basic Auth) Use your API Key as the username, and a User Auth Token as the password.</td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Description</th>
                                <th>Values</th>
                                <th>Default</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="required">
                                <td>lat</td>
                                <td>Latitude of desired delivery location</td>
                                <td>A number (e.g., -118.27367287)</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>lng</td>
                                <td>Longitude of desired delivery location</td>
                                <td>A number (e.g., 34.053892)</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>vehicle_id</td>
                                <td>ID of vehicle</td>
                                <td>A string</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>time_limit</td>
                                <td>Number of minutes in which vehicle is available to be serviced (from now)</td>
                                <td>A number (chosen from the Availability)</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>gallons</td>
                                <td>Number of gallons</td>
                                <td>A number (chosen from the Availability)</td>
                                <td></td>
                            </tr>
                            <tr class="required">
                                <td>gas_price</td>
                                <td>
                                    Price per gallons in cents (retrieved from Availability)
                                    <br />(this ensures that the gas price did not change while the user was choosing delivery options)
                                </td>
                                <td>A number (cents USD)</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-legend-right">
                        Keys in red are <span class="required">required</span>.
                    </div>
                    
                    <p style="display:none">
                        Example POST request and JSON response: <a href="javascript:(function(){var el=document.getElementById('example-request-order'); el.style.display = (el.style.display === 'block' ? 'none' : 'block');})();">(show/hide)</a>
                    </p>
                    
                    <div id="example-request-order" style="display: none;">
                        POST Request:
                        <br /><span style="color: black;">https://api.purpleapp.com/orders/request</span>
                        <pre class="snippet" data-language="javascript"><code>{
  "version": 1,
  "key": "yekipa987654321",
  "user_id": "G7yG674ftgebB987ncj8",
  "auth_token": "Nmcbdhvid863hf7Gydh7hcudn3467678dufhBuxzke8734",
  "lat": -118.27367287,
  "lng": 34.053892
}</code></pre>
                        JSON Response:
                        <pre class="snippet" data-language="javascript"><code>{
  "success": true
}</code></pre>
                    </div>

                    <br />
                    <h2 class="content-subhead">
                        <a name="get-orders" />
                        Get Orders
                    </h2>
                    <p>
                        To get a list of a user's past and current orders along with the details of each order.
                    </p>

                    <pre class="snippet" data-language="html"><code>[GET] https://api.purpleapp.com/v1/orders/get</code></pre>

                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Header</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="required">
                                <td>Authorization</td>
                                <td>(Basic Auth) Use your API Key as the username, and a User Auth Token as the password.</td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Description</th>
                                <th>Values</th>
                                <th>Default</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>sort</td>
                                <td>Direction in which to sort orders chronologically (time created).</td>
                                <td>"asc" (oldest first) or "desc" (most recent first)</td>
                                <td>"desc"</td>
                            </tr>
                            <tr>
                                <td>start</td>
                                <td>Starting index (0-based). Use with 'limit' for pagination.</td>
                                <td>An integer >= 0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>limit</td>
                                <td>How many orders to retrieve.</td>
                                <td>An integer >= 0</td>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-legend-right">
                        Keys in red are <span class="required">required</span>.
                    </div>
                    
                    <p style="display:none">
                        Example GET request and JSON response: <a href="javascript:(function(){var el=document.getElementById('example-get-orders'); el.style.display = (el.style.display === 'block' ? 'none' : 'block');})();">(show/hide)</a>
                    </p>
                    
                    <div id="example-get-orders" style="display: none;">
                        GET Request:
                        <br /><span style="color: black;">https://api.purpleapp.com/v1/orders/get</span>
                        <pre class="snippet" data-language="javascript"><code>{
  "version": 1,
  "key": "yekipa987654321",
  "user_id": "G7yG674ftgebB987ncj8",
  "auth_token": "Nmcbdhvid863hf7Gydh7hcudn3467678dufhBuxzke8734",
  "lat": -118.27367287,
  "lng": 34.053892
}</code></pre>
                        JSON Response:
                        <pre class="snippet" data-language="javascript"><code>{
  "success": true
}</code></pre>
                    </div>
                    
                </div>

                <div class="legal pure-g-r">
                    <div class="pure-u-2-5">
                        <div class="l-box">
                            
                        </div>
                    </div>

                    <div class="pure-u-1-5">
                        <div class="l-box legal-logo">
                            <a href="">
                                <img src="/apple-icon-72x72.png" width="65" height="65">
                            </a>
                        </div>
                    </div>

                    <div class="pure-u-2-5">
                        <div class="l-box">
                            <ul class="legal-links">
                                <li><a href="http://purpleapp.com"">purpleapp.com</a></li>
                            </ul>

                            <p class="legal-copyright">
                                &copy; 2016 Purple Services Inc. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script>
         var menu = document.getElementById('menu'),
             menuLink = document.getElementById('menuLink'),
             layout = document.getElementById('layout'),
             toggleClass = function(element, className) {
                 var classes = element.className.split(/\s+/),
                     length = classes.length,
                     i = 0;

                 for (; i < length; i++) {
                     if (classes[i] === className) {
                         classes.splice(i, 1);
                         break;
                     }
                 }
                 // the className is not found
                 if (length === classes.length) {
                     classes.push(className);
                 }

                 element.className = classes.join(' ');
             };

         menuLink.onclick = function(e) {
             e.preventDefault();
             var active = 'active';
             toggleClass(layout, active);
             toggleClass(menu, active);
             toggleClass(menuLink, active);
         };
        </script>

        <script src="js/vendor/rainbow/rainbow-min.js"></script>

    </body>
</html>

